@import 'variables';

.App {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 90%;
  @media screen and (min-width: $tablet) {
    width: 50%;
  }
  .row {
    width: 100%;
    display: flex;
    &.filters {
      padding-bottom: 2%;
      border-bottom: 2px solid black;
    }
    &.between {
      justify-content: space-between;
    }

  }
  .search {
    max-width: 25%;
  }
}

.People {
  width: 100%;
  li:nth-child(even) {
    background-color: lightgray;
  }
}