@import '~font-awesome/css/font-awesome.min.css';
@import '~bulma/css/bulma.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: 1px black solid;
  height: 1.25rem;
  &:focus {
    outline: none;
  }
}